<p>
  <strong>Name:</strong>
  <%=h @survey.title %>
</p>
<p>
  <%=raw @survey.summary %>
</p>

<ol>
<% for question in @survey.questions %>
  <li>
    <%=h question.title %>
    <ul>
    <% for answer in question.answers %>
      <li><%=h answer.title %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_admin_survey_path(@survey) %> |
  <%= link_to "Destroy", [:admin, @survey], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_surveys_path %>
</p>
