<div class="span-18" style="font-family:Verdana;font-size:13px;">
	<div style="width:680px;padding:10px;">
  		<div style="text-align:right;border-bottom:1px dotted #EC1F26;"><%=h @press_release.pr_date.strftime("%A, %d %B %Y") %></div>
		<p>
  				<%= raw(@press_release.content) %>
		</p>

	</div>
</div>
<div class="span-6 last">
	<ul class="pretty-listing" style="border-left: 1px dotted #EC1F26;">
	<% @recent.each do |pr| %>
      <li style="padding-bottom:10px;border-bottom:1px dotted #EC1F26;">
        <% if pr.external? %>
          <A target='_blank' href="<%= pr.url %>"><%= pr.title %></A> 
          <br/>-- <%= pr.pr_date.strftime("%A, %d %b %Y") %> (<%= pr.source %>)
        <% else %>
          <%= link_to pr.title, pr %>
          <br/>-- <%= pr.pr_date.strftime("%A, %d %b %Y") %>
        <% end %>
      </li>
	<% end %>
	</ul>
</div>
