
<table>
  <tr>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Venue</th>
    <th>City</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.start_date %></td>
      <td><%= event.end_date %></td>
      <td><%= event.venue_location %></td>
      <td><%= event.city %></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_admin_event_path(event) %></td>
      <td><%= link_to "Destroy", [:admin,event], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_admin_event_path %></p>
