<div class="form">
  <h3>Change Password </h3>
  <%= render 'layouts/form_error', :target => @user %>
  <%= form_for @user, :url => "/set_password" do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit %>
  <% end %>
</div>