<% unless @upcoming_events.empty? %>
  <%= render 'events/upcoming' %>
<% end %>  
<div class="span-16" style="padding-top:5px;">
  <p style="font-family:Verdana;font-size:14px;text-align:justify;">
    Everyone is unhappy about corruption, but very few of us know how we can fight it. Saaku is a state-wide campaign against corruption where we can overcome this problem by working together, learning how effective different methods of corruption-fighting are, and sharing our experiences to make governance better throughout the state. At Saaku, you can volunteer to fight corruption, seek others' help in tackling corruption in your area, and also learn to influence public decisions by linking your voting choices to clean governance.
  </p>  
  <% unless @recent_surveys.empty? %>
    <%= render 'surveys' %>
  <% end %>
  <div class="span-9 last">
    <TABLE>
      <TR>
        <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
        <TD valign="middle">
          <div style="font-weight:bold;font-size:16px;">
            Fight against corruption every day
          </div>
          <div style="font-weight:normal;font-size:12px;">
            small victories that add up to a lot <A href="/fight">Read more</A>
          </div>
        </TD>
      </TR>
      <TR>
        <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
        <TD valign="middle">
          <div style="font-weight:bold;font-size:16px;">
            Awareness and Networking
          </div>
          <div style="font-weight:normal;font-size:12px;">
            Building CHAMPIONS against corruption
          </div>
        </TD>
      </TR>
      <TR>
        <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
        <TD valign="middle">
          <div style="font-weight:bold;font-size:16px;">
            Vote against Corruption
          </div>
          <div style="font-weight:normal;font-size:12px;">
            Let your ballot speak for you. <A href="/voteright">Read more</A>
          </div>
        </TD>
      </TR>
    </TABLE>
  </div>
  <div class="span-7">
    <%= render 'events/recent' %>
  </div>
  <div class="span-9 last">
    <%= render 'quick_links/recent' %>
  </div>
  <div class="span-7">
    <%= render 'social_connect' %>
  </div>
</div>
<div class="span-8 last">
  <div style="border-left:1px dotted #000;margin-bottom:5px;margin-right:10px;">
    <div style="width:285px;margin:5px;padding-bottom:10px;border-bottom:1px dotted #000;"> <%= render 'home/donate' %> </div>
    <iframe src="http://is.gd/b8039b" width="285" height="300" style="margin-left:5px;margin-top:2px;"></iframe>
  </div>
</div>
