<%= form_for @event, :html => {:multipart => true}  do |f| %>
  <%= render 'layouts/form_error', :target => @event %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 80 %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.cktext_area :description %>
  </p>
  <p>
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date, {:order => [:day, :month, :year]} %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date, {:order => [:day, :month, :year]} %>
  </p>
  <p>
    <%= f.label :venue_location %>
    <%= f.text_field :venue_location, :size => 80 %>
  </p>
  <p>
    <%= f.label :schedule %>
    <%= f.text_area :schedule, :rows => 10, :cols => 110 %>
  </p>
  <p>
    <%= f.label :contact %>
    <%= f.text_field :contact, :size => 80 %> <br/>
    <span class="hint">( Use comma to separate multiple contact numbers Eg: Saravana - 9xxxxxxxxxx , Ravi - 95xxxxxxxx)</span>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :facebook_url%>
    <%= f.text_field :facebook_url%>
  </p>
  <p>
    <%= f.label :twitter_url%>
    <%= f.text_field :twitter_url%>
  </p>
  <p>
    <%= f.label :orkut_url%>
    <%= f.text_field :orkut_url%>
  </p>
  <p>
    <%= f.label :etype %>
    <%= f.text_field :etype %>
  </p>
  <p>
    <%= f.label :Venue %>
    <%= f.file_field :venue %>
  </p>
  <p>
    <%= f.label :venue_directions_url %>
    <%= f.text_field :venue_directions_url %>
  </p>
  <p>
    <%= f.label :rallyroute %>
    <%= f.file_field :rallyroute %>
  </p>
  <p><%= f.submit %></p>
<% end %>
