<div class="span-15 prepend-1">
<div style="font-size:15;font-weight:bold;font-family:Verdana;margin-bottom:5px;">Inviation Content</div>
<div style="font-size:14px;border-bottom:1px solid #DDDDDD;border-top:2px solid #DDDDDD;padding-top:10px;">
   <p> Dear Friend, </p>
   <div> <%= raw(@event.description) %></div>
   <div>
    <p> <strong>Date/Time:</strong> <%= event_time(@event) %> </p>
    <p> <strong>Location:</strong> <%= @event.venue_location %>, <%= @event.city %> </p>
   </div>
   <p><A href="http://www.saaku.in/events/<%= @event.cached_slug %>">Event Details</A>. Looking forward to seeing you there.</p> 
</div>
<hr/>
<p style="font-size:15;font-weight:bold;font-family:Verdana;">Send the above invitation to your friends and colleagues</p>

<%= render 'layouts/form_error', :target => @invite %>
<% form_for @invite, :url => "/events/#{@event.id}/send_invite" do |f| %>
  <p>
    <%= f.label 'Your Name *' %>
    <%= f.text_field :inviter_name, :size => 45 %>
  </p>
  <p>
    <%= f.label 'Your Email ID *' %>
    <%= f.text_field :inviter_email, :size => 45 %>
  </p>
  <p>
    <%= f.label 'Invitees Email IDs (comma-separated) *' %>
    <%= f.text_area :invitees, :rows => 5, :cols => 50 %>
  </p>
   <p>
      <%= render :partial => 'home/recaptcha' %> <br/>
   </p>
  <p><%= f.submit "Send Invite", :style => "width:380px;font-size:20px;height:40px;" %></p>
<% end %>
</div>
<div class="span-7 append-1 last">
  <%= render 'rhs' %>
</div>
