<!-- left hand side content -->
<div class="span-16">
  <div style="padding-left:10px;padding-right:10px;">
    <h3>
      <%= @event.title %>
      <% if can? :edit, Event %>
      <span class="links">
        (
        <%= link_to_if(@event.end_date > Date.today(), "Edit", edit_event_path(@event)) %> |
        <%= link_to_if(@event.end_date > Date.today(), "Delete this event", @event, :confirm => 'Are you sure?', :method => :delete) %> 
        )
      </span>
      <% end %>
    </h3>
    <p>
      <b><%= event_time(@event) %></b> <br/>
      <b>At <%= @event.venue_location %>, <%= @event.city %></b>
    </p>     
    <div style="font-family: Verdana;font-size:14px;">
      <%= raw(@event.description) %>
    </div>
    <hr/>
    <%= render 'attend' %>
  </div>
</div>
<!-- Right hand side content -->
<div class="span-8 last">
  <%= render 'rhs' %>
</div>
