<div class="span-24" style="padding-left:10px;padding-right:10px;margin-top:10px;">
    <h3>
      <%= @event.title %>
      <% if can? :edit, Event %>
      <span class="links">
        (
        <%= link_to_if(@event.end_date > Date.today(), "Edit", edit_admin_event_path(@event)) %> |
        <%= link_to_if(@event.end_date > Date.today(), "Delete this event", @event, :confirm => 'Are you sure?', :method => :delete) %> |
        <%= link_to "Upload Merchandise", new_event_merchandise_path(@event) %>
        )
      </span>
      <% end %>
    </h3>
    <% if @event.cover_poster.url.match(/missing.png$/).nil? %>    
      <A href="<%= @event.cover_poster.url %>" target="_blank" title="Click to view higher resolution picture"><img src="<%= @event.cover_poster.url.match(/gif$/).nil? ? @event.cover_poster.url(:large) : @event.cover_poster.url %>" /></A>      
    <% else %>
      <hr style="width:630px;background-color:#000;" />
    <% end %>
</div>
<!-- left hand side content -->
<div class="span-16" style="font-family: Verdana; font-size:14px;padding-top:0px;">
  <div style="padding-left:10px;padding-right:10px;">
    <div> 
      <%= raw(@event.description) %>
    </div>
    <p>
      <b>Date/Time:</b> <%= event_time(@event) %> <br/>
      <b>Location:</b> <%= "#{@event.venue_location}," unless @event.venue_location.blank? %> <%= @event.city %>
    </p>     
    <p>
      SPREAD THE MESSAGE!!! - INDIA AGAINST CORRUPTION - BENGALURU
    </p>
    <hr/>
    <% unless Time.now() > @event.end_date %>
      <%= render 'attend' %>
    <% end %>
  </div>
</div>
<!-- Right hand side content -->
<div class="span-8 last">
  <%= render 'rhs' %>
</div>
