<!-- left hand side content -->
<div class="span-16">
  <div style="padding-left:10px;padding-right:10px;">
    <h3>
      <%= @event.title %>
      <span class="links">
        (
        <%= link_to_if(@event.end_date > Date.today(), "Edit", edit_event_path(@event)) %> |
        <%= link_to_if(@event.end_date > Date.today(), "Delete this event", @event, :confirm => 'Are you sure?', :method => :delete) %> 
        )
      </span>
    </h3>
    <p>
      <%= (@event.start_date == @event.end_date) ? @event.start_date.strftime("%d %b %Y") : "#{@event.start_date.strftime('%d %b %Y')} - #{@event.end_date.strftime('%d %b %Y')}" %>
      <%= @event.venue_location %>, <%= @event.city %>
    </p>     
    <div style="font-family: Verdana;font-size:14px;">
      <%= raw(@event.description) %>
    </div>
    <hr/>
    <%= render 'attend' %>
  </div>
</div>
<!-- Right hand side content -->
<div class="span-8 last">
  <div>
    <% unless @event.schedule.blank? %>
    <p>
      <%= render 'schedule' %> 
    </p>
    <% end %>

    <% if @event.social_network? %>
    <p>
      <%= render 'social_network' %>
    </p>
    <% end %>

    <% unless @event.contact.blank? %>
    <p>
      <%= render 'contact' %> 
    </p>
    <% end %>

    <% unless @event.venue_directions_url.blank? %>
    <p>
      <%= render 'venue' %> 
    </p>
    <% end %>

    <% unless @event.rallyroute_file_name.blank? %>
    <p>
      <%= render 'rallyroute' %> 
    </p>
    <% end %>
  </div>
</div>
