<div style="padding:15px;background-color:#FFF;height:auto;border:2px solid #000;margin-bottom:5px;width:400px;margin:5px auto;">
  <p>Thank you for participating in <strong><%= @surveyor.survey.title %> Survey</strong></p>
  <p>Please spread the message about the referendum by passing the <%= link_to "survey participation link", "/surveys/#{@surveyor.survey.slug.name}/participate" %> (<%= "http://#{request.host_with_port}/surveys/#{@surveyor.survey.slug.name}/participate" %>) to your friends and colleagues</p>
  <p>Go back to <%= link_to "Home Page", "/" %> Or <%= link_to @surveyor.survey.title, "/surveys/#{@surveyor.survey.slug.name}/participate" %></p>
</div>
<script>
  setTimeout("window.location.href='/';", 60000);
</script>
