<div style="padding:15px;background-color:#FFF;height:auto;border:2px solid #000;margin-bottom:5px;width:400px;margin:5px auto;">
  <p>Thank you for participating in <strong><%= @surveyor.survey.title %> Survey. Here are the results so far.</strong></p>

<ol>
<% for question in @survey.questions %>
  <li style="margin-top:10px;border-bottom:2px solid #FFF;padding-bottom:10px;">
    <strong><%=h question.title %></strong>
      <ul style="padding-left:0px;margin-top:5px;">
        <% question.answers.each do |answer| %>
          <li style="list-style-type:none;"><%= answer.title %> <span style="margin-left:10px;font-weight:bold;">(<%= number_with_precision(((answer.survey_answers.length.to_f / answer.question.survey_answers.length.to_f)*100), :precision => 2) %>% chose this answer) </span> </li>
        <% end %>
      </ul>
  </li>
<% end %>
</ol>

  <p>Please spread the message about the referendum by passing the <%= link_to "survey participation link", "/surveys/#{@surveyor.survey.slug.name}/participate" %> (<%= "http://#{request.host_with_port}/surveys/#{@surveyor.survey.slug.name}/participate" %>) to your friends and colleagues</p>
  <p>Go back to <%= link_to "Home Page", "/" %> Or <%= link_to @surveyor.survey.title, "/surveys/#{@surveyor.survey.slug.name}/participate" %></p>
</div>
<script>
  setTimeout("window.location.href='/';", 60000);
</script>
