<style>
  div.field_with_errors { display: inline; margin-left:20px;}
  div.errorExplanation { padding: 10px; background-color: #FFF; }
</style>
<div style="width:600px;margin:5px auto;background-color:#F0EBE2;padding-top:5px;padding-bottom:5px;border:2px solid #000;">
<p>
  <h2 style="text-align:center;"><%=h @survey.title %></h2>
</p>
<div style="width:430px;margin:5px auto;"><%= render 'layouts/form_error', :target => @surveyor %></div>
<%= form_for @surveyor, :url => "/surveyors" do |f| %>
<%= f.hidden_field :survey_id %>
<input type="hidden" name="_method" value="POST" />
<p style="margin-left:20px;">
  <%= f.label :name %>&nbsp;&nbsp;
  <%= f.text_field :name %> <span style="color:#EC1F26;">(required)</span>
</p>
<p style="margin-left:20px;">
  <%= f.label :email, "Email " %>&nbsp;&nbsp;
  <%= f.text_field :email %> <span style="color:#EC1F26;">(required)</span>
</p>
<br/>
<ol>
<% for question in @survey.questions %>
  <li style="margin-top:10px;border-bottom:2px solid #FFF;padding-bottom:10px;">
    <strong><%=h question.title %></strong>
      <ul style="padding-left:0px;margin-top:5px;">
        <% question.answers.each do |answer| %>
          <li style="list-style-type:none;"><%= radio_button_tag "answer[#{question.id}]", answer.id %><%= answer.title %> (<%= (answer.survey_answers.length.to_f / answer.question.survey_answers.length.to_f) %> % chose this answer) </li>
        <% end %>
      </ul>
  </li>
<% end %>
</ol>
<p style="text-align:right;padding-right:20px;">
<%= submit_tag "Submit" %> <input type="button" value="Cancel" onClick="window.location.href='/';" >
</p>
<% end %>
</div>
<br/>
