<div style="padding:15px;background-color:#FFF;height:auto;border:2px solid #000;margin-bottom:5px;width:400px;margin:5px auto;">
  <p>Results of <strong><%= @survey.title %> Survey</strong></p>

<p><%= @survey.surveyors.count %> people participated in the online survey</p>

<ol>
<% for question in @survey.questions %>
  <li style="margin-top:10px;border-bottom:2px solid #FFF;padding-bottom:10px;">
    <strong><%=h question.title %></strong>
      <ul style="padding-left:0px;margin-top:5px;">
        <% question.answers.each do |answer| %>
          <li style="list-style-type:none;"><%= answer.title %> <span style="margin-left:10px;font-weight:bold;">(<%= ((answer.survey_answers.length.to_f / answer.question.survey_answers.length.to_f)*100).to_i %>% chose this answer) </span> </li>
        <% end %>
      </ul>
  </li>
<% end %>
</ol>
</div>
