<div class="form">
<h3>Email Sender</h3>
<%= form_for [:admin, @broadcast_message], :html => {:multipart => true}  do |f| %>
  <%= render 'layouts/form_error', :target => @broadcast_message %>
  <p>
    <%= f.label raw("To <span style='font-weight:normal;font-size:11px;'>(Use Comma to separate multiple email addresses)</span>") %>
    <%= f.text_area :to, :rows => 5, :cols => 100 %>
  </p>
  <p>
    <%= f.label "Subject" %>
    <%= f.text_field :subject, :style => 'width:835px;' %>
  </p>
  <p>
    <%= f.label "Content" %>
    <%= f.cktext_area :content %>
  </p>
  <%= f.submit_tag "Send" %>
<% end %>
</div>

