<%= form_for [:admin, @broadcast_message], :html => {:multipart => true}  do |f| %>
  <%= render 'layouts/form_error', :target => @broadcast_message %>
  <p>
    <%= f.label "To" %>
    <%= f.text_field :to, :size => 80 %>
  </p>
  <p>
    <%= f.label "Subject" %>
    <%= f.text_field :subject, :size => 80 %>
  </p>
  <p>
    <%= f.label "Content" %>
    <%= f.cktext_area :content %>
  </p>
  <%= f.submit_tag "Send" %>
<% end %>

