<%= form_for @ward do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ward_no %><br />
    <%= f.text_field :ward_no %>
  </p>
  <p>
    <%= f.label :total_population %><br />
    <%= f.text_field :total_population %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </p>
  <p><%= f.submit %></p>
<% end %>
